@portfolio-text-line-height: 1.5em;
@portfolio-teaser-line-count: 4;
@modal-padding: 15px;

* {
	box-sizing: border-box;
}

body {
	min-width: 320px;
	font-family: 'Crimson Text', serif;
	color: #2d3c49;
	font-size: 16px;
}

button,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Fjalla One', sans-serif;
	color: #7d97ad;
}

section {
	display: block;
	margin-top: 45px;
}


img {
	max-width: 100%;
}

footer {
	padding: 15px 0;
	text-align: center;
	font-size: 0.8em;	
}

article {
	text-align: center;
}

article img {
	max-width: 100%;
}

.teaser img {
	width: 100%;
}

.header-row {
	display: flex;
	margin-top: 30px;
}

.logo {
	width: 50%;
	flex-flow: column;
	justify-content: center;
	padding-left: 15px;
}

.hr {
	border-bottom: 1px solid #7d97ad;
	margin: 0 0 5px 0;
	height: 1px;
	width: 100%;

}

.name {
	width: 50%;
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	padding-right: 15px;
	text-align: right;
}

.name-subline {
	padding-bottom: 15px;
	margin-top: -15px;
}

.span-o,
.span-s {
	font-size: 80px;
	font-weight: 100;
	color: #7d97ad;
}

.span-s
{
	margin-left: -56px;
	font-weight: 900;
	top: -14px;
	position: absolute;
	font-size: 110px;
}

.span-o
{
	text-shadow: 4px 10px 22px #000;
}

@media screen and (max-width: 767px) {
	header,
	main,
	footer {
		width: 100%;
		margin: 0;
	}
	.teaser
	{
		height: 180px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	header,
	main,
	footer {
		width: 100%;
		margin: 0;
	}
	.teaser
	{
		height: 300px;
	}
}

@media screen and (min-width: 1024px) {
	header,
	main,
	footer {
		width: 800px;
		margin: 0 auto;
	}

	.teaser
	{
		height: 400px;
	}
}

.teaser { 
	position: relative; 
	overflow: hidden;
	width: 100%;
} 

.teaser img {
	position: absolute; 
	right: 0; 
	bottom: 0; 
	min-width: 100%; 
	min-height: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	overflow: hidden; 
}

.portfolio-item {
	width: 100%;
	height: 100%;
	display: inline-block;
}

.slick-slider {
	max-width: 100%;
	max-height: 100%;
}

.slick-dots {
	bottom: 0;
}

/* mixin for multiline */

.multiLineEllipsis(@lineHeight: 1.2em, @lineCount: 1, @bgColor: white){
	overflow: hidden;
	position: relative;
	line-height: @lineHeight;
	max-height: (@lineHeight * @lineCount); 
	text-align: justify;
	margin-right: -1em;
	padding-right: 1em;
	&:before {
		content: '...';
		padding-left: 0.5em;
		position: absolute;
		right: 1em;
		bottom: 0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+29&0+0,1+28 */
		background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 28%, rgba(255,255,255,1) 29%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 28%,rgba(255,255,255,1) 29%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 28%,rgba(255,255,255,1) 29%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	}
	&:after {
		content: '';
		position: absolute;
		right: 0;
		width: 1em;
		height: 1em;
		margin-top: 0.2em;
	}
}

.portfolio-text {
	line-height: @portfolio-text-line-height;
	text-align: justify;
	margin-bottom: 15px;
}

.portfolio-more {
	
	margin-bottom: 30px;
}

.portfolio-teaser {
	.multiLineEllipsis(
		@portfolio-text-line-height,
		@portfolio-teaser-line-count,
		white
	);  
}

.slick-slider {
	background: transparent url(../img/squares.svg) center center no-repeat;

}

.slick-slider .portfolio-item img
{
	visibility: hidden;
}

.slick-slider.initiated .portfolio-item img
{
	visibility: visible;
}

.slick-slider .portfolio-item {
	display: none;
}

.slick-slider .portfolio-item:first-child,
.slick-slider.initiated .portfolio-item {
	display: block;
}

.modal-content
{
	padding: @modal-padding;
	.portfolio-more {
		display: none;
	}
}

@media screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	.modal-content .slick-slider
	{
		min-height: ( ( @modal-md - (@modal-padding * 2) ) / 1.3 );
	}
	.portfolio-more {
		margin-bottom: 40px;
	}
}

@media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	.modal-content .slick-slider
	{
		min-height: ( ( @modal-lg - (@modal-padding * 2) ) / 1.3 );
	}
	.portfolio-more {
		margin-bottom: 50px;
	}
}

@media screen and (min-width: @screen-lg-min) {
	.modal-content .slick-slider
	{
		min-height: ( ( @modal-lg - (@modal-padding * 2) ) / 1.3 );
	}
	.portfolio-more {
		margin-bottom: 50px;
	}
}





